<!DOCTYPE html>
<html
  th:replace="~{fragments/base.html :: parent(~{ :: #content}, ~{ :: title}, ~{ :: script})}"
  lang="en"
>
  <head>
    <title th:text="${pageTitle}"></title>
  </head>
  <body>
    <section id="content">
      <div
        class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 flex flex-col space-y-3 rounded justify-center items-center"
      >
        <h1 class="text-2xl font-bold" th:text="${heading}"></h1>
        <h1 class="text-xl text-gray-700" th:text="${message}"></h1>
        <a
          th:href="${githubRepoLink}"
          target="_blank"
          class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600"
        >
          Click here to see the Repo
        </a>
        <a
          href="/"
          class="font-bold text-blue-500 hover:text-blue-700 hover:underline"
        >
          Home
        </a>
      </div>
    </section>
  </body>
  <script>
    console.log("Hello from the about page");
  </script>
</html>
