<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style>
        .container {
            width: 50%;
            margin: auto;
            padding: 30px;
            border: 1px solid black;
            background: #f1f1f1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 th:text="${content}"></h1>
        <h1 th:text="${message}"></h1>
        <a th:href="${githubRepoLink}">Click here to see the Repo</a>
    </div>
</body>
</html>